<mat-toolbar color="primary" class='mat-app-background' fxFlex fxLayout="row" fxLayoutGap="10px" fxFlexOffset="0.5">
	<button mat-fab  color="accent" routerLink='/home' routerLinkActive="active"><mat-icon>home</mat-icon> </button>
	<button color="accent" fxFlex mat-stroked-button routerLink='/sets' routerLinkActive="active">Sets</button>
	<button color="accent" fxFlex mat-stroked-button  routerLink='/train' routerLinkActive="active">Train</button>
	<button color="accent" fxFlex mat-stroked-button  routerLink='/random' routerLinkActive="active">Random</button>
</mat-toolbar>
